body {
    font-family: Arial, sans-serif;
}
nav {
    height: 60px;
    width: 100%;
    background: green;
    position: fixed;  
}
.logo {
    color: aliceblue;
    font-size: 28px;
    line-height: 60px;
    float: left;
}
main {
    width: 100%;
    height: 100%;
}
.menu {
    float: left;
}
.menu li {
    float: left;
    line-height: 60px;
    color: aliceblue;
    margin-right: 40px;
    font-size: 14px;
}
.menu li a {
    display: inline-block;
}
.about_me img {
    border: black 5px;
    border-radius: 50px;
}
.abilities {
    width: 100%;
    height: 200px;
    background: yellow;
}
.abilities row{
    background-color: burlywood;
    display: flex;
    justify-content: center;
}
.brawl {
    padding: 5px;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
}
.brawl img {
    border: black 5px;
    border-radius: 50px;
}